body {
    margin: 0;
    overflow: hidden;
}

#WebGL {
    width: 100%;
}

#changebg {
    color: white;
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 50px;
    width: 100%;
}

.popup {
    position: absolute;
    top: 0px;
    left: 35%;
    margin: 100px auto;
    width: auto;
    height: auto;
    font-family: verdana;
    font-size: 13px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: 2px solid grey;
    z-index: 1;
}

.cancel {
    display: relative;
    cursor: pointer;
    margin: 0;
    float: right;
    height: 10px;
    width: 14px;
    padding: 0 0 5px 0;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    z-index: 1;
}

.cancel:hover {
    background: rgb(255, 50, 50);
}

#innerBlueCSS{
    height: 174px; 
    width: 143px;   
    background-image:url('../asset/thumb/blue_thumb.JPG');
    background-repeat:no-repeat;
}

#innerBlackCSS{
    height: 174px; 
    width: 143px;   
    background-image:url('../asset/thumb/black_thumb.JPG');
    background-repeat:no-repeat;
}

#innerGrayCSS{
    height: 174px; 
    width: 143px;   
    background-image:url('../asset/thumb/gray_thumb.JPG');
    background-repeat:no-repeat;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}