body {
    margin: 0;
    overflow: hidden;
}

#WebGL {
    width: 100%;
}

#changebg {
    color: white;
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 50px;
    width: 100%;
}
